.form-group {
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
}

.form-control{
    display: block;
    width: 100%;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
